BEGIN;
--
-- Create model Province
--
CREATE TABLE "schools_province" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "name" varchar(100) NOT NULL UNIQUE, "geom" geometry(MULTIPOLYGON,4326) NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL);
--
-- Create model School
--
CREATE TABLE "schools_school" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "name" varchar(200) NOT NULL, "category" varchar(20) NOT NULL, "geom" geometry(POINT,4326) NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "province_id" bigint NULL);
CREATE INDEX "schools_province_name_a394e9e0_like" ON "schools_province" ("name" varchar_pattern_ops);
CREATE INDEX "schools_province_geom_dbee25d8_id" ON "schools_province" USING GIST ("geom");
ALTER TABLE "schools_school" ADD CONSTRAINT "schools_school_province_id_860cb2f0_fk_schools_province_id" FOREIGN KEY ("province_id") REFERENCES "schools_province" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "schools_school_geom_d6cf48f9_id" ON "schools_school" USING GIST ("geom");
CREATE INDEX "schools_school_province_id_860cb2f0" ON "schools_school" ("province_id");
COMMIT;
